* {
    margin: 0px;
    padding: 0px;
}

html {
    width: 100%;
}

body {
    font-family: 'Nunito', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #90e0ef;
    padding: 20px;
}

header div strong {
    margin-left: 5px;
    position: relative;
    bottom: 5px;
    font-size: 18px;
}

header div {
    align-items: center;
    justify-content: center;
}

header ul {
    display: flex;
    flex-direction: row;
    visibility: hidden; /* Temporáriamente invisível */
}

header ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

header ul li a {
    text-decoration: none;
    color: rgb(24, 24, 24);
    font-weight: 400;
}

header ul li a:hover {
    font-weight: 700;
    transition: 0.3s;
}

main section {
    padding: 20px;
    height: 300px;
    text-align: center;
    justify-content: center;
    background-color: gainsboro;
}

main #welcome {
    background-color: #caf0f8;
    background-image: url('./images/cloud-wallpaper.jpg');
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
}

main #welcome h2 {
    font-size: 28px;
    position: relative;
    text-align: right;
    color: azure;
    margin-top: 120px;
    margin-right: 20px;
}

main #welcome h2 span {
    color: #FD951F;
}

main #services {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ade8f4;
    height: 150px;
}

main #services ul {
    display: flex;
    flex-direction: row;
}

main #services ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 180px;
    margin-right: 15px;
    margin-left: 15px;
    background-color: #ade8f4;
    border-radius: 8px;
    font-weight: 700;
    box-shadow: 3px 2px 4px #313138;
    position: relative;
    bottom: 50px;
}

main #services ul li:hover {
    bottom: 60px;
    transition: 0.2s;
    box-shadow: 3px 12px 18px #313138;
}

main #services ul li img {
    margin-bottom: 10px;
}

main #about { 
    text-align: left;
    background-color: #ade8f4;
    align-items: flex-end;
    justify-content: flex-end;
    padding-left: 50px;
    padding-top: 150px;
    height: fit-content;
}

main #about #about-container {
    position: relative;
    bottom: 40px;
}

main #about p {
    text-align: justify;
    width: 300px;
}

.cover {
    width: 350px;
    margin: 20px;
    height: 200px;
    overflow: hidden;
    position: relative;
    left: 240px;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px;
}
  
.about-image {
    height: 100%;
    width: 100%;
    background-image: url('./images/developing.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .5s;
    border-radius: 8px;
}

.cover:hover .about-image,
.cover:focus .about-image {
  transform: scale(1.2);
  transition: all .5s;
}


main #about #workflow-container {
    margin-top: 80px;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

main #about #workflow-container img {
    width: 220px;
    position: relative;
    right: 150px;
    bottom: 405px;
}

main #about #workflow-container video {
    position: relative;
    bottom: 360px;
    left: 180px;
}

main #about #workflow-container h3 {
    margin-top: 30px;
}

main #about #workflow-container #steps {
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    position: relative;
    width: fit-content;
    padding-left: 160px;
}

main #about #workflow-container #steps #step1, #step2, #step3 {
    width: fit-content;
    text-align: justify;
}

main #advantages {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #90e0ef;
    height: 300px;
}

main #advantages ul {
    display: flex;
    flex-direction: row;
}

main #advantages ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 150px;
    margin-right: 15px;
    margin-left: 15px;
    background-color: #90e0ef;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    box-shadow: 3px 2px 8px #313138;
    font-weight: 700;
    position: relative;
    bottom: 120px;
}

main #advantages ul li:hover {
    bottom: 130px;
    transition: 0.2s;
    box-shadow: 3px 12px 18px #313138;
}

main #advantages ul li img {
    margin-bottom: 10px;
}

main #advantages ul li p {
    margin-top: 10px;
    font-weight: 500;
}

main #portfolio {
    height: 900px;
    background-color: #90e0ef;
    visibility: hidden;
}

main #portfolio h2 {
    padding-bottom: 30px;
    margin-bottom: 80px;
}

main #portfolio ul li {
    margin-top: 20px;
    list-style-type: none;
    margin-bottom: 80px;
}

main #portfolio ul #pousadaPlato {
    text-align: left;
    padding-right: 50%;
}

main #portfolio ul #myPlants {
    text-align: right;
    padding-left: 50%;
}

main #portfolio ul #nirvanaExperience {
    text-align: left;
    padding-right: 50%;
}

main #last-call {
    background-color: #90e0ef;
}

main #last-call button {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 40px;
    border-radius: 4px;
    border-style: none;
    background-color: #FD951F;
    color: aliceblue;
    font-weight: 600;
    font-size: 1em;
}

main #last-call button:hover {
    cursor: pointer;
    background-color: #db7909;
}

footer {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: floralwhite;
    background-color: #04041b;
}

footer img {
    position: relative;
    top: 3px;
    margin-right: 5px;
}

/* Tela zero */
@media screen and (min-width: 600px) {

    header {
        padding-left: 50px;
        padding-right: 50px;
    }
    
    main #welcome {
        padding-right: 50px;
    }
    
    main #about {
        padding-left: 50px;
    }

    main #portfolio ul #pousadaPlato, #nirvanaExperience {
        padding-left: 50px;
    }
    
    main #portfolio ul #myPlants {
        padding-right: 50px;
    }
}
    

/* Primeira tela */
@media screen and (min-width: 768px) {

    header {
        padding-left: 100px;
        padding-right: 100px;
    }

    main #welcome {
        padding-right: 100px;
    }

    main #about {
        padding-left: 100px;
    }

    .cover {
        width: 420px;
        height: 240px;
    }

    main #portfolio ul #pousadaPlato, #nirvanaExperience {
        padding-left: 100px;
    }

    main #portfolio ul #myPlants {
        padding-right: 100px;
    }
}

/* Segunda tela */
@media screen and (min-width: 1000px) {

    header {
        padding-left: 200px;
        padding-right: 200px;
    }
    
    main #welcome {
        padding-right: 200px;
    }
    
    main #about {
        padding-left: 200px;
    }

    .cover {
        width: 455px;
        height: 260px;
    }
    
    main #portfolio ul #pousadaPlato, #nirvanaExperience {
        padding-left: 200px;
    }
    
    main #portfolio ul #myPlants {
        padding-right: 200px;
    }
}

/* Terceira tela */
@media screen and (min-width: 1200px) {
    
    header {
        padding-left: 300px;
        padding-right: 300px;
    }
    
    main #welcome {
        padding-right: 300px;
    }
    
    main #about {
        padding-left: 300px;
    }

    .cover {
        width: 490px;
        height: 280px;
    }
    
    main #portfolio ul #pousadaPlato, #nirvanaExperience {
        padding-left: 300px;
    }
    
    main #portfolio ul #myPlants {
        padding-right: 300px;
    }
}

/* Quarta tela */
@media screen and (min-width: 1400px) {
    
    header {
        padding-left: 400px;
        padding-right: 400px;
    }
    
    main #welcome {
        padding-right: 400px;
    }
    
    main #about {
        padding-left: 400px;
    }

    .cover {
        width: 525px;
        height: 300px;
    }
    
    main #portfolio ul #pousadaPlato, #nirvanaExperience {
        padding-left: 400px;
    }
    
    main #portfolio ul #myPlants {
        padding-right: 400px;
    }

}