#call-to-action {
    background-color: #90e0ef;
    height: 520px;
}

#call-to-action button {
    width: 400;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 40px;
    border-radius: 12px;
    border-style: none;
    background-color: #FD951F;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#call-to-action button img {
    width: 22px;
}

#call-to-action #content-button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#call-to-action button p {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 1.2em;
    margin-left: 8px;
}

#call-to-action button:hover {
    cursor: pointer;
    background-color: #018613;
    transition-duration: 0.5s;
}

#call-to-action img {
    position: relative;
}
