
footer {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: floralwhite;
    background-color: #04041b;
}

footer .space {
    width: 100px;
}

footer a {
    text-decoration: none;
    color: floralwhite;
}

footer a:hover {
    color: #FD951F;
    transition-duration: 0.5s;
    cursor: pointer;
}

#copy-right:hover {
    cursor: default;
    color: #FD951F;
    transition-duration: 0.5s;
}

footer img {
    position: relative;
    top: 3px;
    margin-right: 8px;
}

footer #end {
    display: flex;
    justify-content: flex-end;
}
