
footer {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: floralwhite;
    background-color: #04041b;
}

footer #space {
    width: 50px;
}

footer img {
    position: relative;
    top: 3px;
    margin-right: 5px;
}
