* {
    margin: 0px;
    padding: 0px;
}

html {
    width: 100%;
}

body {
    font-family: 'Nunito', sans-serif;
}

section {
    padding: 20px;
    height: 300px;
    text-align: center;
    justify-content: center;
}