
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #90e0ef;
    padding: 20px;
    font-family: 'Nunito', sans-serif;
}
header strong {
    font-size: 17px;
    position: relative;
    bottom: 5px;
    margin-left: 5px;
    color: #030425;
}

header div {
    align-items: center;
    justify-content: center;
}

header ul {
    display: flex;
    flex-direction: row;
    /* Temporariamente */
}

header ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

header ul li a {
    text-decoration: none;
    color: rgb(49, 49, 49);
    font-weight: 600;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
}

header ul li a:hover {
    text-decoration: underline;
    transition: 0.5s;
}

header button {
    padding: 6px 12px;
    border-radius: 6px;
    border: 0px;
    background-color: #0077B6;
    color: floralwhite;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
}

header button:hover{
    cursor: pointer;
    background-color: #03045E;
    color: #fff;
    transition-duration: 0.5s;
}