
#portfolio {
    height: fit-content;
    background-color: #ADE8F4;
    padding-top: 60px;
}

#portfolio h2 {
    padding-bottom: 30px;
    margin-bottom: 80px;
}

#portfolio ul li {
    margin-top: 20px;
    list-style-type: none;
    margin-bottom: 20px;
}

#portfolio ul #pousadaPlato {
    text-align: left;
    padding-right: 50%;
}

#mockup-pousada {
    width: 550px;
    position: relative;
    left: 80px;
    bottom: 90px;
}

#portfolio ul #myPlants {
    text-align: left;
    padding-left: 50%;
}

#mockup-myplants {
    width: 450px;
    position: relative;
    right: 410px;
    bottom: 220px;
}

#portfolio ul #nirvanaExperience {
    text-align: left;
    padding-right: 50%;
}

/* Call to action */

#call-to-action {
    background-color: #ADE8F4;
    height: 380px;
}

#call-to-action button {
    width: 400;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 40px;
    border-radius: 8px;
    border-style: none;
    background-color: #FD951F;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#call-to-action button img {
    width: 22px;
}

#call-to-action #content-button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#call-to-action button p {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 1.2em;
    margin-left: 8px;
}

#call-to-action button:hover {
    cursor: pointer;
    background-color: #018613;
    transition-duration: 0.5s;
}

#call-to-action img {
    position: relative;
}