/* Mobile */
@media screen and (min-width: 0px) {

    header {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    #welcome {
        padding-right: 20px;
    }

    #services ul {
        width: 400px;
    }

    .cover {
        left: 50px;
    }

    #about {
        padding-left: 20px;
    }

    #portfolio ul #pousadaPlato, #nirvanaExperience {
        padding-left: 20px;
    }
    
    #portfolio ul #myPlants {
        padding-right: 20px;
    }
    
    #gif {
        left: 0px;
    }
}
    


/* Tela zero */
@media screen and (min-width: 680px) {

    header {
        padding-left: 50px;
        padding-right: 50px;
    }
    
    #welcome {
        padding-right: 50px;
    }

    #services ul {
        width: initial;
    }

    .cover {
        left: 200px;
    }
    
    #about {
        padding-left: 50px;
    }

    #portfolio ul #pousadaPlato, #nirvanaExperience {
        padding-left: 50px;
    }
    
    #portfolio ul #myPlants {
        padding-right: 50px;
    }

    
    #gif {
        left: 0px;
    }
}
    

/* Primeira tela */
@media screen and (min-width: 768px) {

    header {
        padding-left: 100px;
        padding-right: 100px;
    }

    #welcome {
        padding-right: 100px;
    }

    #about {
        padding-left: 100px;
    }

    .cover {
        width: 420px;
        height: 240px;
        left: 200px;
    }

    #portfolio ul #pousadaPlato, #nirvanaExperience {
        padding-left: 100px;
    }

    #portfolio ul #myPlants {
        padding-right: 100px;
    }

    #gif {
        left: 0px;
    }
}

/* Segunda tela */
@media screen and (min-width: 1000px) {

    header {
        padding-left: 200px;
        padding-right: 200px;
    }
    
    #welcome {
        padding-right: 200px;
    }
    
    #about {
        padding-left: 200px;
    }

    .cover {
        width: 455px;
        height: 260px;
        left: 200px;
    }
    
    #portfolio ul #pousadaPlato, #nirvanaExperience {
        padding-left: 200px;
    }
    
    #portfolio ul #myPlants {
        padding-right: 200px;
    }

    #gif {
        visibility: visible;
        left: 530px;
    }
}

/* Terceira tela */
@media screen and (min-width: 1200px) {
    
    header {
        padding-left: 300px;
        padding-right: 300px;
    }
    
    #welcome {
        padding-right: 300px;
    }
    
    #about {
        padding-left: 300px;
    }

    .cover {
        width: 490px;
        height: 280px;
        left: 200px;
    }
    
    #portfolio ul #pousadaPlato, #nirvanaExperience {
        padding-left: 300px;
    }
    
    #portfolio ul #myPlants {
        padding-right: 300px;
    }

    #gif {
        visibility: visible;
        left: 530px;
    }
}

/* Quarta tela */
@media screen and (min-width: 1400px) {
    
    header {
        padding-left: 400px;
        padding-right: 400px;
    }
    
    #welcome {
        padding-right: 360px;
    }
    
    #about {
        padding-left: 400px;
    }

    .cover {
        width: 525px;
        height: 300px;
        left: 200px;
    }
    
    #portfolio ul #pousadaPlato, #nirvanaExperience {
        padding-left: 400px;
    }
    
    #portfolio ul #myPlants {
        padding-right: 400px;
    }

    #gif {
        visibility: visible;
        left: 530px;
    }

}

/* Quinta Tela */
@media screen and (min-width: 1480px) {
    
    header {
        padding-left: 400px;
        padding-right: 400px;
    }
    
    #welcome {
        padding-right: 380px;
    }
    
    #about {
        padding-left: 380px;
    }

    .cover {
        width: 525px;
        height: 300px;
        left: 200px;
    }
    
    #portfolio ul #pousadaPlato, #nirvanaExperience {
        padding-left: 450px;
    }
    
    #portfolio ul #myPlants {
        padding-right: 450px;
    }

    #gif {
        visibility: visible;
        left: 530px;
    }
}